.navbar-brand {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 2.5em;
    cursor: default;
    margin-top: 5vh;
}

main {
    font-family: "Roboto", sans-serif;
}

.nav {
    background-color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.card-title,
.card-body {
    font-family: "Roboto", sans-serif;
    color: black;
}

body {
    background-color: #030303 !important;
    color: white;
}

.lead {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #c0c0c0;
}

img {
    max-width: 100%;
}

.logo {
    max-height: 80px;
}

a {
    color: #74cfed;
}

a:hover {
    color: #1289af;
}

span {
    color: white;
}

.dim {
    color: #c0c0c0;
}

.container {
    max-width: 960px;
}